<IfModule mod_rewrite.c>

RewriteEngine On

# Send all requests to index.php unless file/directory exists
# If file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
# If directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-d
# Send everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>