<IfModule mod_rewrite.c>

RewriteEngine On

# Envia todas as requisições para o index.php, menos se o diretorio/arquivo existirem
# Se o arquivo não existir
RewriteCond %{REQUEST_FILENAME} !-f

# Se o diretório não existir
RewriteCond %{REQUEST_FILENAME} !-d
# Envia-se as requisições para o index.php
RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>